*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include font;
}

html, body{
    height: 100%;
    background: $black;
    font-size: 100%;
}

body::-webkit-scrollbar {
    display: none;
    width: none; /* width of the entire scrollbar */
}